.first-screen {
    position: relative;
    margin-bottom: 100px;

    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        margin-bottom: 8px;
        max-width: 500px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 135.5%;
        margin-bottom: 37px;
        max-width: 340px;
    }

    .slick-slide {
        padding: 165px 92px 228px;
        border-radius: 22px;
        background-position: center;
        background-size: cover;
        margin: 0 10px;
    }

    .slick-list {
        margin: 0 -10px;
        border-radius: 22px;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: calc(100% - 50px);
}

    .container-arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45px);
        max-width: 1565px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 0;
    }

    
}
