<section class="FAQ">
    <div class="container">
        <div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseOne">
                Как рассчитывается стоимость доставки?
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus dolorem ad, velit doloremque pariatur commodi fugiat veniam. Temporibus, vel earum. Tempore exercitationem rerum, dicta ea nemo facilis sequi obcaecati ipsam molestias nobis, voluptas eveniet reprehenderit aspernatur quos quia sit, delectus consectetur. Odio inventore incidunt dolorem laborum nobis, in tempore veritatis illo hic eveniet dolor aliquid nisi? Deserunt nihil maiores harum aperiam minus illo magni doloremque itaque eos neque quidem vel labore fuga, cumque quia atque molestias ipsa libero unde eligendi excepturi. Repellendus architecto autem aspernatur sed fuga asperiores qui ratione itaque dolore saepe. Cumque cupiditate officia quidem velit minus iure!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Как происходит оплата за доставку груза?
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium corrupti odit qui debitis, nobis molestias voluptatum tempore soluta dignissimos modi commodi eum inventore incidunt tenetur illum corporis asperiores! Fuga dolorum dignissimos nisi explicabo, aut veniam eligendi magnam! Sapiente tempore error distinctio iste dolore libero voluptatum laborum quod accusamus officiis!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Как происходит доставкa груза?
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deleniti facilis voluptatibus provident rem ducimus in excepturi sed, autem cupiditate repudiandae. Est, assumenda. Quaerat, a. Fuga ullam porro distinctio in nostrum provident asperiores voluptate aliquam voluptates cum, optio voluptatibus cumque quidem vitae alias dolor veniam? Perspiciatis fugiat earum reprehenderit necessitatibus voluptate blanditiis, velit maxime cumque incidunt, explicabo omnis, quia dolores.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                Можно ли через вас оплатить товар поставщику?
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас
                                нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFive">
                В чём особенность КАРГО доставки из Китая
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tenetur quibusdam excepturi labore, praesentium exercitationem nostrum deserunt aspernatur error. Atque doloribus eos quia quo facere dignissimos! Modi velit quam facere reiciendis rerum officiis placeat facilis doloremque blanditiis nihil asperiores soluta laborum minima, fugit, fugiat aut delectus veniam, inventore cumque voluptate.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseSix">
                Какой срок доставки из Китая?
              </button>
            </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo voluptatem reprehenderit accusamus quibusdam et nisi molestias sint sapiente voluptate, iusto tempore, dolores tempora saepe libero, aut soluta magnam aperiam sed. Modi aut, laborum totam ab cupiditate impedit magnam voluptates nihil nam tenetur! Porro vel totam laudantium sed possimus exercitationem rem?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="faq-form col-lg-4">
                <h3>Остались вопросы?</h3>
                <p>Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                <div class="input-box">
                    <label for=""></label>
                    <input type="text" placeholder="Имя*" required>
                </div>
                <div class="input-box">
                    <label for=""></label>
                    <input type="number" placeholder="Телефон*" required>
                </div>
                <div class="input-box">
                    <label for=""></label>
                    <input type="email" placeholder="Email*" required>
                </div>
                <div class="input-box">
                    <label for=""></label>
                    <input class="input-box_question" type="text" placeholder="Ваш вопрос*" required>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Отправить запрос<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </form>
        </div>
    </div>
</section>
