<section class="services container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
    </div>
    <div class="slider-template">
        <div>
            <div class="slider-template_img-box">
                <img src="assets/img/delivery-1.png" class="img-fluig" alt="item">
    </div>
                <h4 class="slider-template-title">Авто - обычная</h4>
                <div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.

                </div>

                <div class="slider-template_btn-row">
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div>
                <div class="slider-template_img-box">
                    <img src="assets/img/delivery-2.png" class="img-fluig" alt="item">
    </div>
                    <h4 class="slider-template-title">Авто - ускоренная</h4>
                    <div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.

                    </div>

                    <div class="slider-template_btn-row">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div>
                    <div class="slider-template_img-box">
                        <img src="assets/img/delivery-3.png" class="img-fluig" alt="item">
    </div>
                        <h4 class="slider-template-title">Авиа</h4>
                        <div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.

                        </div>

                        <div class="slider-template_btn-row">
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                    <div>
                        <div class="slider-template_img-box">
                            <img src="assets/img/delivery-4.png" class="img-fluig" alt="item">
    </div>
                            <h4 class="slider-template-title">Ж/д</h4>
                            <div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.

                            </div>

                            <div class="slider-template_btn-row">
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                        <div>
                            <div class="slider-template_img-box">
                                <img src="assets/img/delivery-5.png" class="img-fluig" alt="item">
    </div>
                                <h4 class="slider-template-title">Море</h4>
                                <div class="slider-template__description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.

                                </div>

                                <div class="slider-template_btn-row">
                                    <button type="button" class="btn btn-secondary">Подробнее</button>
                                </div>
                            </div>
                        </div>
</section>
